
#about{
  margin: 0;
}
.image{
  display: ruby;
}
.resumebtn{
  border-radius: 15px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.resumebtn a{
  text-decoration: none;
  color: var(--bg-color);
  font-weight: 600;
  outline: none;
  background-color: var(--primary-color);
}



