
#education{
    background-color: #f8f9fa;
}

.education-container .row{
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
}


.card{
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title{
    font-size: 20px;
    font-weight: 600;
}

.card-text{
    font-size: 16px;
    font-weight: 400;
}


@media screen and (max-width: 768px){
    .education-container .row{
        display: flex;
        justify-content: center;
    }
  }