#footer{
    min-height: auto;
    padding-top: 0;
    background-color: var(--theme-color) !important;
}
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5rem;
}
.box{
    flex: 1 1 25rem;
    color: var(--text-1);

}
.box h3{
    color: var(--bg-color);
    padding-bottom: 1rem;
    font-weight: 700;
}
.box p{
    padding: 0.7rem 0;
    text-transform: none;
}

.box p i{
    padding-right: 1rem;
    color: var(--text-2);
}
.box a{
    color: var(--text-1);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    display: block;
    
}
.box a:hover{
    color: var(--text-color);
}

.share{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.share a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.share a i{
    font-size: 1.5rem;
    color: var(--text-2);
}
.share a i:hover{
    color: var(--text-1);
    transform: scale(1.03);
}
#footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    border-top: 0.1rem solid var(--secondary-color);

}
#footer .credit a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
    padding: 0.5rem 0;
    display: inline-block;
}
#footer .credit a:hover{
    color: var(--bg-color);
}
#footer .credit .fa{
    padding-right: 1rem;
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--secondary-color);
}
#footer .credit .fa:hover{
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--bg-color);
}
