@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

#home {
  font-family: 'poppins',sans-serif;
}

.home {
  display: flex;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: space-around;
  /* box-shadow: 0px 0px 10px var(--theme-color); */
}

.hero .left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero .left img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 10px var(--theme-color);

}
.hero .left img {
  width: 250px;
  height: 250px;
}
.hero .right {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .right h6 {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 700;
  color: #020133;
  margin-bottom: 20px;
}
.hero .right p {
  font-size: clamp(16px, 4vw, 20px);
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: 600;
}
.hero .right h6 span {
  color: var(--primary-color);
  text-wrap: nowrap;
}

.typing-text{
  animation: blinker 3s linear infinite;
  color: #020133;
  font-weight: 700 !important;
}

@keyframes blinker {
  0% { opacity: 0; }
  50% { opacity: 1;color: #837d94b0; }
  100% { opacity: 1; }
}

.hero .left .image_hero{
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        animation: clippath 4s infinite ease-in;
    }
}

@keyframes clippath {
    0%{
        clip-path: inset(10% 10% 90% 90%);
        border: 3px solid rgb(238, 225, 227);
    }
    25% {
        clip-path: inset(10% 90% 10% 90%);
        border: 3px solid rgb(224, 224, 143);
    }
    50% {
        clip-path: inset(90% 10% 10% 90%);
        border: 3px solid rgb(252, 136, 5);
    }
    75% {
        clip-path: inset(0% 0% 0% 0%);
        border: 3px solid rgb(244, 253, 137);
    }
    100% {
        clip-path: inset(10% 10% 90% 90%);
        border: 3px solid rgb(253, 159, 36);
    }
}






@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    justify-content: space-between;
  }

  
}
