@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

#home {
  font-family: 'poppins',sans-serif;
}

.home {
  display: flex;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: space-around;
}

.hero .left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero .left img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 0;
}
.hero .left img {
  width: 250px;
  height: 250px;
}
.hero .right {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .right h6 {
  font-size: clamp(50px, 4vw, 60px);
  font-weight: 700;
  color: #020133;
  margin-bottom: 20px;
}
.hero .right p {
  font-size: clamp(16px, 4vw, 20px);
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: 600;
}
.hero .right h6 span {
  color: var(--primary-color);
}


@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    justify-content: space-between;
  }

  
}
