@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #466f7a;
  --secondary-color: #e3f0d8;
  --section-color: #c0bebe;
  --text-color: #233a4d;
  --text-1: #cae5f1;
  --text-2:#e2f7f8;
  --theme-color: rgb(39, 116, 146);
  --bg-color: #fffafa;
  --text-size: clamp(1em, 1vw, 1.5em);
  --font-nunito: "Nunito";
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: var(--section-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5;
  font-size: var(--text-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:var(--theme-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
